{% extends 'main/base.html' %}



{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<h1 class = "text-center">Login</h1>


<div class="row">
  <div class="col-md-6">
    <div class="form">

      <form method="Post">
        <div class="inner">
          {%csrf_token%}
          {{ form|crispy }}
          <button type="submit" class=" login-btn btn btn-lg btn-dark ">
            Sign Up
          </button>
        </div>
      </form>
      <div class="or">
        <h3 class="text-center">Or</h3>
      </div>
      <div class="google">
      <a class=" custom text-center btn btn-block btn-primary"><i
        class="fab fa-google"></i></a>
  </div>


    </div>
  </div>
  <div class="col-md-6 cust" >
    <!-- <div class="content text-center">
      <div class="img">
        <img class ="img-login" src="{% static 'images/login.png' %}" alt="">

      </div> -->
      <h5>Don't have an Account?</h5>
      <a href="{% url 'register' %}"><button class='btn btn-lg btn-outline-dark'>Sign UP</button></a>
    </div>

</div>

{% endblock %}