{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<main id = "book">

  <section>
    <div class="booking">
      <div class="row">
        <div class="col-md-7">
          <div class="book-content">
            <h1>Hello {{user.username }},</h1>
            <h5>Book a call with us now and be happier with a click of a button</h5>
            <div class="bounce">
              <p class="tick text-center"><i class="far fa-check-circle"></i></p>
            </div>  
          </div> 
              

        </div>
        <div class="col-md-5">
          <div class="book-condition">
            <h1 class = "text-center custom-head">Conditions Include</h1>
            <div class="line line-center"></div>
          </div>
          
          <div class="conditions">
            <div>
              <button class="btn btn-outline-dark">Lack of Purpose</button>
            </div>
            <div>
              <button class="btn">Demotivation</button>
            </div>
            <div>
              <button class="btn ">Depression</button>
            </div>
            <div>
              <button class="btn">Sadness</button>
            </div>
            <div>
              <button class="btn">Suicidal Thoughts</button>
            </div>
            <div>
              <button class="btn">Stress</button>
            </div>
            <div>
              <button class="btn">Low confidence</button>
            </div>
            
          </div>
          <p class = "more">And more ...</p>
          
          <div class="text-center  book-btn">
            <button type="button" class="btn book" data-bs-toggle="modal" data-bs-target="#form">
              Book Now
            </button>
          </div>
          <div class="modal fade" id="form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-dark" id="exampleModalLabel"> <img src="{% static 'images/nav.png' %}" class = "nav-img"alt="">Book Now</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method = "post">
                    <div class="book-header">
                    {%csrf_token%}
                    {{form | crispy}}
                    </div>
                    <button type="submit" class =" btn btn-lg btn-outline-success mt-4">
                    Submit
                    </button>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}