{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<main>

  <section>
    <div class="book">
      <div class="row">
        <div class="col-md-7">
          <h4>Hello {{user.username }},</h4>
          <p>Book a call with us now and be happier with a click of a button</p>

        </div>
        <div class="col-md-5">
          <h1>Conditions Include</h1>
          <div class="conditions">
            <div>
              <button class="btn btn-warning">Lack of Purpose</button>
            </div>
            <div>
              <button class="btn btn-warning">Stress</button>
            </div>
            <div>
              <button class="btn btn-warning">Demotivation</button>
            </div>
            <div>
              <button class="btn btn-warning">Depression</button>
            </div>
            <div>
              <button class="btn btn-warning">Sadness</button>
            </div>
            <div>
              <button class="btn btn-warning">Suicidal Thoughts</button>
            </div>
          </div>

          <div class="text-center">
            <button class = "btn btn-success">Book Now</button>
          </div>
         
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}