{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<main id = "book">

  <section>
    <div class="booking">
      <div class="row">
        <div class="col-md-7">
          <div class="book-content">
            <h1>Hello {{user.username }},</h1>
            <h5>Book a call with us now and be happier with a click of a button</h5>
            <p class="tick text-center"><i class="far fa-check-circle"></i></p>
          </div>       

        </div>
        <div class="col-md-5">
          <div class="book-condition">
            <h1 class = "text-center custom-head">Conditions Include</h1>
            <div class="line line-center"></div>
          </div>
          
          <div class="conditions">
            <div>
              <button class="btn btn-outline-dark">Lack of Purpose</button>
            </div>
            <div>
              <button class="btn">Demotivation</button>
            </div>
            <div>
              <button class="btn ">Depression</button>
            </div>
            <div>
              <button class="btn">Sadness</button>
            </div>
            <div>
              <button class="btn">Suicidal Thoughts</button>
            </div>
            <div>
              <button class="btn">Stress</button>
            </div>
            <div>
              <button class="btn">Low confidence</button>
            </div>
            
          </div>
          <p class = "more">And more ...</p>

          <div class="text-center  book-btn">
            <button class = "btn book">Book Now</button>
          </div>
         
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}