{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<main id="data">
  <section id="overview">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="icons">
            <div class="home">
              <i class="fas fa-home"></i>
            </div>
            <div class="users">
              <i class="fas fa-user"></i>
            </div>
            <div class="dates">
              <i class="fas fa-calendar-week"></i>
            </div>
            <div class="disease">
              <i class="fas fa-clock"></i>
            </div>
            
          </div>
        </div>
        <div class="col-md-6">
          <div class="overview">
            <div class="overview-head">
              <h3>Upcoming Appointments</h3>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Disease</th>
                  <th scope="col">Date</th>
                  <th>Approve</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for condition in conditions%}
                  <td>{{condition.name}}</td>
                  <td>{{condition.topic}}</td>
                  <td>{{condition.date}}</td>
                  <th><a href="" class = "btn btn-primary">Approve</a></th>
                </tr>
                {% endfor %}
              </tbody>
              
            </table>
          </div>
        </div>
        <div class="col-md-4">
          <div class="current-book">
            <div class="user-count cont">
              <h1>{{users}}</h1>
            </div>
            <div class="booking cont">
              <h1>{{bookcount}}</h1>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}