{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid landing">
  {% include 'main/nav.html' %}
  <div class="row">
    <div class="col-md-6">
      <div class="landing-content">
        <h1>TALK. <br> RESOLVE. <br> BE HAPPY</h1>
        <h5>Find the best therapists online with the click of a button </h5>
        <p>Speak to our experts and reinvigorate your mental well being</p>
  
      </div>
     
    </div>
    <div class="col-md-6">
      <div class="land-image">
        <img class = "landing-image"src="{% static 'images/land.svg' %}" alt="">
      </div>
      
    </div>
  </div>
  <div class="try on-hover">
    <a href="{% url 'login' %}" class = 'btn'>Get started</a>
  </div>
</div>

{% endblock %}