{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
  {% include 'main/nav.html' %}
  <div class="row">
    <div class="col-md-6">
      <h1>BE OPEN.RESOLVE.STAY HAPPY</h1>
      <h5>Find the best therapists online with the click of a button </h5>
      <p>Speak to our experts and reinvigorate your mental well being</p>

    </div>
    <div class="col-md-6">
      <img src="{% static 'images/land.svg' %}" alt="">
    </div>
  </div>
  <a href="{% url 'login' %}">Get started</a>
</div>

{% endblock %}